.Computer {
    vertical-align: top;
    font-size: 1rem;
    display: inline-block;
    width: 31.578947368421053%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.Computer__title {
    font-size: 1em;
    margin: 0;
    padding: 5px;
    background: #ececed;
}

.Computer__choice {
    height: 238px;
    margin: 10px;
    border-radius: 4px;
    background: #f2f2f2;

    display: flex;
    align-items: center;
    justify-content: center;
}

.Computer__ChosenShape {
    margin: 0;
}

.Computer__ChosenShape::before {
    font-family: FontAwesome;
    font-size: 48px;
    display: block;
    margin-bottom: 10px;
}

.Computer__ChosenShape--rock::before {
    content: '\f255';
}

.Computer__ChosenShape--paper::before {
    content: '\f256';
}

.Computer__ChosenShape--scissors::before {
    content: '\f257';
}