.Roshambo {
  text-align: center;
}

.Roshambo__header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.Roshambo__title {
  font-size: 1.5em;
}

.Roshambo__subtitle {
  font-size: 0.8rem;
  font-weight: normal;
}